---
title: Hudvård på Kungsholmen
description: Unik hudvårdssalong på Kungsholmen i Stockholm. En del av Pipersgatan 30
layout: default
image: /images/salongen.jpg
---

<!-- Wrapper -->
<div id="wrapper">

{% include navigation.html %}
{% include banner.html %}

  <!-- Main -->
  <div id="main">

    <!-- One -->
    <section id="one" class="tiles">
      {% for navigate in site.data.navigation %}{% if navigate.frontpage == true %}
      <article>
        <span class="image">
          <img src="{{ navigate.image }}" alt="" />
        </span>
        <header class="major">
          <h3><a href="{{ navigate.link }}" class="link">{{ navigate.title }}</a></h3>
        </header>
      </article>
      {% endif %}{% endfor %}
      <article>
        <span class="image">
          <img src="/images/SHR-Logga_1.png" alt="SHR Loggotyp" />
        </span>
        <header class="major">
          <h3><a href="/bokning/" class="link">Boka Nu!</a></h3>
        </header>
      </article>
    </section>

    <!-- Two -->

    <section id="two" style="background-image:ur('{{ post.image }}';">
      <div class="inner">
        <header class="major">
          <h2>Nyheter på PipersHudvård</h2>
        </header>
    
        <div class="row">
        
          {% for post in site.posts limit: 3 %}
          <div class="col-6 col-12-small">
        
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            <ul class="actions">
              <li><a href="{{ post.url }}" class="button next">Läs mer</a></li>
            </ul>
          </div>
        
          {% endfor %}
          <div class="col-6 col-12-small">
        
            <h3>Intresserad av hudvård?</h3>
            <p>Gå till nyhetssidan</p>
            <ul class="actions">
              <li><a href="/nyheter/" class="button next">Fler Artiklar</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

  </div>

{% include contact.html %}
{% include footer.html %}

</div>