---
title: Hudvård på Kungsholmen
description: Unik hudvårdssalong på Kungsholmen i Stockholm. En del av Pipersgatan 30.
layout: default
image: /d363ba31-d85f-4072-908f-510e7d33e598.jpeg
---

<!-- Wrapper -->
			<div id="wrapper">

{% include navigation.html %}

{% include banner.html %}

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3 class="editable"><a href="landing.html" class="link">Aliquam</a></h3>
										<p class="editable">Ipsum dolor sit amet</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img class="editable" src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3 class="editable"><a href="landing.html" class="link">Tempus</a></h3>
										<p class="editable">feugiat amet tempus</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img class="editable" src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3 class="editable"><a href="landing.html" class="link">Magna</a></h3>
										<p class="editable">Lorem etiam nullam</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img class="editable" src="images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3 class="editable"><a href="landing.html" class="link">Ipsum</a></h3>
										<p class="editable">Nisl sed aliquam</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img class="editable" src="images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Consequat</a></h3>
										<p>Ipsum dolor sit amet</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img class="editable" src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Etiam</a></h3>
										<p>Feugiat amet tempus</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2 class="editable">Massa libero</h2>
									</header>
									<p class="editable">Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
									<ul class="actions">
										<li><a href="landing.html" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
                  <form action="{{ site.baseurl }}/contact-success/" method="post" class="contact-form">
                    <input type="hidden" name="_to" value="public+spam@sakrecoer.com">
                    <div class="fields">
                        <div class="field half">
                          <label for="name">Name</label>
                          <input type="text" name="name" id="name" />
                        </div>
                        <div class="field half">
                          <label for="email">Email</label>
                          <input type="text" name="email" id="email" />
                        </div>
                        <div class="field">
                          <label for="message">Message</label>
                          <textarea name="message" id="message" rows="6"></textarea>
                        </div>
                      </div>
                      <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                        <li><input type="reset" value="Clear" /></li>
                      </ul>
                  </form>
              
              <div class="contact-details">
								<form method="post" action="#">

								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="#">information@untitled.tld</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(000) 000-0000 x12387</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-home"></span>
										<h3>Address</h3>
										<span>1234 Somewhere Road #5432<br />
										Nashville, TN 00000<br />
										United States of America</span>
									</div>
								</section>
							</section>
						</div>
					</section>

{% include footer.html %}

			</div>


