<!-- BEGIN banner.html -->
<section id="banner" class="major" style="background-image: url('{{ page.image }}');">
  <div class="inner">
    <header class="major">
      <h1>{{ page.title }}</h1>
    </header>
    <div class="content">
 <!--     <p>{{ page.description }}</p>-->
      {% if page.url == '/' %}
      <ul class="actions">
        <li><a href="{{ site.boka }}" target="_blank" class="button next scrolly">Boka Nu!</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</section>
<!-- END banner.html -->
