				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
                <form action="{{ site.baseurl }}/contact-success/" method="post" class="contact-form">
                  <input type="hidden" name="_to" value="public+spamdev@sakrecoer.com">
                  <input type="text" name="_gotcha" style="display: none;">
									<div class="fields">
										<div class="field half">
											<label for="name">Namn</label>
											<input type="text" name="name" id="name" required />
										</div>
										<div class="field half">
											<label for="email">E-post</label>
											<input type="text" name="email" id="email" required />
										</div>
										<div class="field">
											<label for="message">Meddelande</label>
											<textarea name="message" id="message" rows="6" required></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Skicka" class="primary" /></li>
										<li><input type="reset" value="Återställ" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="mailto:{{ site.email }}">{{ site.email }}</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-phone"></span>
										<h3>Phone</h3>
										<span><a href="tel:{{ site.phone }}">{{ site.phone }}</a></span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon alt fa-home"></span>
										<h3>Address</h3>
										<span>1234 Somewhere Road #5432<br />
										Nashville, TN 00000<br />
										United States of America</span>
									</div>
								</section>
							</section>
						</div>
					</section>
          