<!-- BEGIN contact.html -->
<section id="contact">
  <div class="inner">
    <section>
        <header class="major">
            <h3>kontakta oss</h3>
          </header>
      <form action="{{ relBase }}/contact-success/" method="post" class="contact-form">
        <input type="hidden" name="_to" value="{{ site.email }}">
        <input type="text" name="_gotcha" style="display: none;">
        <div class="fields">
          <div class="field half">
            <label for="name">Namn</label>
            <input type="text" name="name" id="name" required />
          </div>
          <div class="field half">
            <label for="email">Din E-post</label>
            <input type="text" name="email" id="email" required />
          </div>
          <div class="field">
            <label for="message">Meddelande</label>
            <textarea name="message" id="message" rows="6" required></textarea>
          </div>
        </div>

        <div>
          <input type="checkbox" name="consent" id="consent" required class="css-checkbox lrg klaus" /><label
            for="consent" class="css-label lrg klaus">I agree with
            {% if page.url == '/privacy-policy/' %} this privacy policy.
            {% else %} the <a href="/privacy-policy/">privacy policy.</a>
            {% endif %}</label>
        </div>
        <div>
          <input type="checkbox" name="news" id="news" class="css-checkbox lrg klaus" /><label for="news"
            class="css-label lrg klaus">Send me news!</label>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Skicka" class="primary" /></li>
          <li><input type="reset" value="Återställ" /></li>
        </ul>
      </form>
    </section>
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-phone"></span>
          <h3>Phone</h3>
          <span><a href="tel:{{ site.phone }}">{{ site.phone }}</a></span>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-home"></span>
          <h3>Address</h3>
          <span>Pipersgatan 30<br />
            112 28 Stockholm<br />
          </span>
        </div>
      </section>
    </section>
  </div>
</section>
<!-- END contact.html -->