<!-- BEGIN contact.html -->
<section id="contact">
  <div class="inner">
<!---->
    <section>
        <header class="major">
            <h3>Viktig Bokningsinformation</h3>
          </header>
          <p>
            
      	<strong>Avbokning måste ske minst 24 tim innan avtalad tid annars debiteras fullt belopp.</strong> Avbokning kan göras via mail, vi svarar på mail ang avbokning alla dagar i veckan. Har du bokat online går det även bra att logga in med ditt användarnamn och avboka din tid.<br><br>24 timmarsregeln gäller även vid sjukdom, det är alltså bättre att boka om din tid redan när börjar känna dig sjuk. Vi är hårda på att inte utföra behandlingar vid sjukdom, detta pg.a att tillståndet kan förvärras samt att du utgör en smittorisk för oss. Kommer du till oss sjuk så kan det tyvärr bli så att vi nekar till behandling samt att du blir debiterad fullt belopp.<br><br>Vid oanmäld försening, mer än 15 min, förbehåller vi oss rätten att ta bort er tid samt debitera för uteblivet besök. Ring gärna till salongen, 08-120 589 89 om du blir sen.<br><br>Vi hoppas att ni respekterar våra avbokningsregler. Det är svårt för oss att kunna boka in en ny kund om avbokningen inte sker i god tid.
      
          </p>
<!-- 
      <form action="{{ relBase }}/contact-success/" method="post" class="contact-form">
        <input type="hidden" name="_to" value="{{ site.email }}">
        <input type="text" name="_gotcha" style="display: none;">
        <div class="fields">
          <div class="field half">
            <label for="name">Namn</label>
            <input type="text" name="name" id="name" required />
          </div>
          <div class="field half">
            <label for="email">Din E-post</label>
            <input type="text" name="email" id="email" required />
          </div>
          <div class="field">
            <label for="message">Meddelande</label>
            <textarea name="message" id="message" rows="6" required></textarea>
          </div>
        </div>

        <div>
          <input type="checkbox" name="consent" id="consent" required class="css-checkbox lrg klaus" /><label
            for="consent" class="css-label lrg klaus">I agree with
            {% if page.url == '/privacy-policy/' %} this privacy policy.
            {% else %} the <a href="/privacy-policy/">privacy policy.</a>
            {% endif %}</label>
        </div>
        <div>
          <input type="checkbox" name="news" id="news" class="css-checkbox lrg klaus" /><label for="news"
            class="css-label lrg klaus">Send me news!</label>
        </div>
        <ul class="actions">
          <li><input type="submit" value="Skicka" class="primary" /></li>
          <li><input type="reset" value="Återställ" /></li>
        </ul>
      </form>
-->
    </section>
<!---->
    <section class="split">
      <section>
        <div class="contact-method">
          <span class="icon alt fa-envelope"></span>
          <h3>Email</h3>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-phone"></span>
          <h3>Phone</h3>
          <span><a href="tel:{{ site.phone }}">{{ site.phone }}</a></span>
        </div>
      </section>
      <section>
        <div class="contact-method">
          <span class="icon alt fa-home"></span>
          <h3>Adress</h3>
          <span>Pipersgatan 30<br />
            112 28 Stockholm<br />
          </span>
        </div>
      </section>
    </section>
  </div>
</section>
<!-- END contact.html -->