{% include relBase.html %}
<div class="box alt">
  <div class="row gtr-50 gtr-uniform">
    {% for post in site.data.instagram limit: 6 %}
    <div class="col-4">
      <a href="https://www.instagram.com/p/{{ post.detail.shortcode }}" target="_blank" rel="noopener noreferrer">
        <span class="image fit">
          <img src="{{ relBase }}/images/insta/{{ post.detail.display_url }}"
            data-gallery-source="{{ relBase }}/assets/instagram/{{ post.detail.display_url }}"
            alt="{{ post.detail.edge_media_to_caption.edges[0].node.text | strip_html }}"
            title="{{ post.detail.edge_media_to_caption.edges[0].node.text | strip_html }}" />
        </span>
      </a>
    </div>
    {% endfor %}
  </div>
</div>