<!-- BEGIN navigation.html -->
<!-- Header -->
<header id="header" class="alt">
  <a href="/" class="logo"><img src="/images/Logotyp-PipersHudvard.svg" height="120px;" alt="Logotyp-PipersHudvard" />
    <span>Pipers Hudvård</span></a>
  <nav>
    <a href="#menu">Meny</a>
  </nav>
</header>

<!-- Menu -->
<nav id="menu">
  <ul class="links">
{% for links in site.data.navigation %}
    <li><a href="{{ links.link }}">{{ links.title }}</a></li>
{% endfor %}
  </ul>
  <ul class="actions stacked">
    <li><a href="/bokning/" class="button primary fit">Boka Nu!</a></li>
    <li><a href="{{ site.clinicare }}{{ site.ref }}" class="button fit">Köp produkter online</a></li>
  </ul>
  <a href="https://shr.nu/salongsok/?searchstring=pipers+hudvard" style="border:none;" target="_blank"
    rel="noopener noreferrer nofollow"><img src="/images/SHR.png" alt="SHR logotyp" /></a>
</nav>
<!-- END navigation.html -->

