<!-- BEGIN navigation.html -->
<!-- Header -->
<header id="header" class="alt">
  <a href="/" class="logo"><img src="/images/Logotyp-PipersHudvard.svg" height="120px;" alt="Logotyp-PipersHudvard" />
    <span>Pipers Hudvård</span></a>
  <nav>
    <a href="#menu">Meny</a>
  </nav>
</header>

<!-- Menu -->
<nav id="menu">
  <ul class="links">
{% for links in site.data.navigation %}
{% if links.menu == true %}
{% unless links.title == 'Hem' and page.url == '/' %}
    <li><a href="{{ links.link }}" class="link primary"{% if links.outbound == true %} target="_blank" rel="noopener"{% endif %}>{{ links.title }}</a></li>
{% endunless %}
{% endif %}
{% endfor %}
  </ul>
  <ul class="actions stacked">
    <li><a href="{{ site.boka }}" class="button primary fit">Boka Nu!</a></li>
    <!-- <li><a href="/produkter/" class="button fit" target="_blank" rel="noopener">Produkter</a></li> -->
  </ul>
  <a href="https://shr.nu/salongsok/?searchstring=pipers+hudvard" style="border:none;" target="_blank"
    rel="noopener noreferrer nofollow"><img src="/images/SHR.png" alt="SHR logotyp" /></a>
</nav>
<!-- END navigation.html -->

