---
layout: default
---
<style>
  body {
    background-color: #fff;
  }
</style>
{% include relBase.html %}
<!-- Wrapper -->
<div id="wrapper">
  {% include navigation.html %}
  {% include banner.html %}
  <!-- Main -->
  <div id="main">
    <!-- One -->
    <section id="one">
      <div class="inner">
        {% if page.collection == 'posts' or page.collection == 'behandlingar' %}
        <span class="image main"><img src="{{ relBase }}{{ page.image }}" alt="" /></span>
        {% endif %}
        <div id="postimage" class="editable">
          {{ content }}
        </div>
      </div>
    </section>
  </div>
  {% if page.url == '/valkommen-till-pipers-hudvard/' %}
  {% include contact.html %}
  {% endif %}
  {% include footer.html %}
  {% if page.collection == 'behandlingar' %}
  {% include boka.html %}
  {% endif %}
</div>