---
layout: default
---
<!-- Wrapper -->
<div id="wrapper">
  {% include navigation.html %}
  <!-- Main -->
  <div id="main" class="alt">
    <!-- One -->
    <section id="one">
      <div class="inner">
        <header class="major">
          <h1>{{ page.title }}</h1>
        </header>
        <span class="image main"><img src="{{ page.image }}" alt="" /></span>
        <div id="postimage">
          {{ content }}
        </div>
      </div>
    </section>
  </div>
  {% include footer.html %}
</div>